.parallax { 
    /* The image used */
    background-image: url("grafika/potw1712a.jpg");

    /* Full height */
    height: 1000%; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax2 { 
    /* The image used */
    background-image: url("grafika/potw1710a.jpg");

    /* Full height */
    height: 1000%; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}