.parallax { 
    /* The image used */
    background-image: url("grafika/potw1712a.jpg");

    /* Full height */
    height: 100000%; 
	width: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}