body{
  margin :0px;
  padding:0px;
  background-size: cover;
  height: 100%;
}
nav{height:10vh; width:100vw; background-color: #000 ; color :#ddd; position:fixed; z-index:100; text-align: center;}
footer{height:20vh; width:100vw; background-color: blue ; color :#ddd;}
.lorem{height:40vh;width:100%; border: 1px solid green ;}

nav ol {padding: 0;margin: 0;list-style-type: none;font-size: 20px;font-family: 'Amatic SC', cursive; display: inline-block;margin-top:3vh;border: 1px solid green;}
nav ol a{color: #ffffff;text-decoration:none;display:block;}

nav ol > li{ float: left;width:220px;margin-top:13px; }
nav ol > li:hover{font-size: 23px;background-color:#AB092E;border-radius: 50px;}

.content1{height:90vh;width:100vw;background:linear-gradient(45deg,#90C3D4,#363640) ;padding:40px;}
.content1 h1{font-size:60px;}
.content1 p{font-size:30px; font-weight: 700; color:#fef;}
.content2 {height:90vh;width:100vw;background:linear-gradient(45deg,#90C3D4,#363640) ;padding:40px;}
.content2 img{ width:200px; height:200px; padding:5px; }

#karuzela{}

